Repository leviahack/resume-builder: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint

.lintstagedrc.json:

{
  "*.{js,jsx, json}": ["eslint --fix", "git add"],
  "*.scss": ["stylelint","git add"]
}

fix: add sass and solve linter issues
  package.json
  src/App.css
  src/App.js
  src/App.jsx
  src/App.scss
  src/index.css
  src/index.js
  src/index.scss
  yarn.lock
Due: eslint --fix, stylelint

feat: configure app to support importing modules using absolute paths
  .eslintrc.json
  jsconfig.json
Due: none

feat: add react router and react-test-renderer
  package.json
  src/App.jsx
  src/App.scss
  src/__snapshots__/App.test.js.snap
  src/containers/Home/Home.jsx
  src/containers/Home/Home.test.js
  src/containers/Home/__snapshots__/Home.test.js.snap
  src/logo.svg
  src/router/Router.jsx
  src/router/Router.test.js
  src/router/__snapshots__/Router.test.js.snap
  yarn.lock
Due: eslint --fix, stylelint

feat: add material ui
  package.json
  public/index.html
  src/App.jsx
  src/index.js
  src/index.scss
  src/styles/abstracts/README.md
  src/styles/abstracts/_variables.scss
  src/styles/base/README.md
  src/styles/base/_fonts.scss
  src/styles/base/_typography.scss
  src/styles/main.scss
  yarn.lock
Due: eslint --fix, stylelint

docs: update contributing, pr_template and readme files
  .github/CONTRIBUTING.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Due: none

feat: add favicon files
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/browserconfig.xml
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/mstile-150x150.png
  public/safari-pinned-tab.svg
  public/site.webmanifest
Due: none

test: update app.jsx snapshots
  src/__snapshots__/App.test.js.snap
Due: none

feat: add circleci and danger settings
  .circleci/config.yml
  .eslintignore
  .npmrc
  README.md
  dangerfile.js
  package.json
  yarn.lock
Due: eslint --fix

fix: change circle ci deploy machine
  .circleci/config.yml
Due: none

feat: create 404 not found page
  .stylelintrc.json
  public/_redirects
  public/assets/img/full_logo.png
  src/constants/strings.js
  src/containers/NotFound/NotFound.jsx
  src/containers/NotFound/NotFound.scss
  src/containers/NotFound/NotFound.test.js
  src/containers/NotFound/__snapshots__/NotFound.test.js.snap
  src/router/Router.jsx
  src/styles/abstracts/_mixins.scss
  src/styles/abstracts/_variables.scss
  src/styles/main.scss
Due: eslint --fix, stylelint

feat: add redux packages
  package.json
  yarn.lock
Due: none

redux: add actions and reducer for constants
  src/constants/strings.store.js
Due: eslint --fix

redux: add store initial settings
  src/store/configure-store.dev.js
  src/store/configure-store.js
  src/store/configure-store.prod.js
  src/store/reducers.js
Due: eslint --fix

redux: add redux provider to app
  package.json
  src/App.jsx
  src/App.test.js
  src/index.js
Due: eslint --fix

fix: replace constants of page not found
  src/containers/NotFound/NotFound.jsx
Due: eslint --fix

test: fix unit test errors
  package.json
  src/constants/strings.test.js
  src/containers/NotFound/NotFound.test.js
  src/serviceWorker.js
Due: eslint --fix

fix: remove react.fc types since it is discouraged
  src/App.tsx
  src/router/index.tsx
  src/views/Home/Home.tsx
Due: none

feat: add flexbox
  package.json
  src/views/Home/Home.tsx
  yarn.lock
Due: none

feat: add normalize, fonts and global styles
  package.json
  src/App.styles.tsx
  src/App.tsx
  src/views/Home/Home.styles.ts
  yarn.lock
Due: none

feat: add fontawesome package for react
  package.json
  yarn.lock
Due: none

feat: add icons example render
  src/views/Home/Home.tsx
Due: none

docs: add react hoock form package
  package.json
  yarn.lock
Due: none

docs: disabled rule jsx-props-no-spreading
  .eslintrc.json
Due: none

feat: add example to react hook form
  src/views/Home/Home.tsx
Due: none

feat: Remove flex, add material ui
  package.json
  src/views/Home/Home.tsx
  yarn.lock
Due: none

redux: add slices and types for initial state of app
  .eslintrc.json
  src/store/design/design.slice.ts
  src/store/design/design.types.ts
  src/store/index.ts
  src/store/layout/layout.slice.ts
  src/store/layout/layout.types.ts
  src/store/personalInfo/personalInfo.slice.ts
  src/store/personalInfo/personalInfo.types.ts
  src/store/sectionsById/sectionsById.slice.ts
  src/store/sectionsById/sectionsById.types.ts
Due: none

fix: change file name for home component
  src/views/Home/Home.component.tsx
  src/views/Home/Home.test.tsx
  src/views/Home/index.tsx
Due: none

fix: update yarn.lock
  package.json
  yarn.lock
Due: none

Add .circleci/config.yml
  .circleci/config.yml
Due: none

Update Danger title for config.yml
  .circleci/config.yml
Due: none
